.top-wrapper{
  height:200px;
  background-color:rgb(131,128,255);
  text-align:center;
  padding:30px 0;
  font-size:56px;
}

.image-right{
  float:right;
  height:400px;
}

.image-left{
  float:left;
  height:400px;
}

.container{
  margin:0 250px;
  margin-top:50px;
}

.jikosyoukai{
  border:1px solid gray;
}

.jikosyoukai span{
  font-weight: bold;
}

.main{
  margin-top:50px;
  border:1px solid gray;
  height:650px;
}

.main p{
  line-height:30px;
}

.main span{
  color:red;
}
